@gray-base:        #000;
@gray-darker:      lighten(@gray-base, 13.5%); // #222
@gray-dark:        lighten(@gray-base, 20%);   // #333
@gray:             lighten(@gray-base, 33.5%); // #555
@gray-light:       lighten(@gray-base, 46.7%); // #777
@gray-lighter:     lighten(@gray-base, 93.5%); // #eee
@gray-lightest:    lighten(@gray-base, 96.5%);
@light-blue: #4183C4; 
@blue: #1e70bf;

@screen-xs: 768px;
@screen-sm: 992px;

// LINKS

// a.link are specially 'linky'
a:not(.link) {
  color: @gray-base;
  outline: none;
  &:visited {
    color: inherit;
  }
  &:hover {
    color: @blue;
  }
}

a.link {
  color: @light-blue;
  // These are imitated from the cool effects
  // in semantic UI's website
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  z-index: 0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  outline: none;
  &::before {
    position: absolute;
    top: auto;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: @light-blue;
    content: '';
    -webkit-transition: all 0.2s;
    -webkit-backface-visibility: hidden;
    transition: all 0.2s;
    backface-visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  &:hover {
    color: @blue;
  }
  &:hover::before {
    background-color: @blue;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

// GENERAL

.main-content {
  padding-top: 20px;
}

// Fix spinner moving too high
.spinner-container {
  min-height: 450px;
}

// HEADER

.navbar {
  background-color: @gray-lighter;
  border-bottom: 1px solid @gray-dark;
  padding: 8px 0;
  box-shadow: 0 1px 6px rgba(0,0,0,.3);
  .container > *:not(.clearfix) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// SEARCHES
.search {
  outline: 0;
  &:empty:before {
    content: attr(placeholder);
    color: @gray-light; 
  }
}

.search-container {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  width: 70%;
  #search {
    line-height: 30px;
    font-size: 30px;
    display: inline-block;
    padding-left: 1rem;
  }
}

#user-search {
  line-height: 30px;
  font-size: 30px;
  margin-top: 1rem;
  width: ~"calc(100% - 50px)";
}

// CONTEXT MENU

.has-context-menu {
  position: relative;
  .context-menu {
    position: absolute;
    top: 0;
    right: 0;
    .dropdown .menu {
      left: auto;
      right: 0;
    }
  }
}

// HELPER CLASSES

.inline {
  display: inline-block;
}

.clickable {
  cursor: pointer;
}

.no-events {
  pointer-events: none;
}

*:not(.ui) > .hidden {
  display: none !important;
}

// Some bootstrap-inspired responsivity classes
.hidden-xs {
  @media (max-width: @screen-xs) {
    display: none !important;
  }
}

.hidden-sm {
  @media (max-width: @screen-sm) {
    display: none !important;
  }
}

.visible-sm {
  @media (min-width: @screen-sm) {
    display: none !important;
  }
}

.pull-right {
  float: right;
}

.pull-right-sm {
  @media (max-width: @screen-sm) {
    float: right;
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

// DRINKS LIST

.category-selector {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  padding-right: 10px;
  overflow: hidden;
}

.list-category-name {
  border-top: 1px solid @gray-light;
  font-size: 24px;
  margin-left: 10px;
  font-weight: bold;
  color: @gray-dark;
  padding-top: 10px;
  &:first-child {
    padding-top: 0;
    border: none;
  }
}

.stacked-row {
  border-top: 1px solid @gray-light;
  font-size: 18px;
  margin-left: 10px;
  .drink-link {
    padding-bottom: 4px;
    display: block;
    &:hover {
      background-color: @gray-lightest;
    }
  }
  .drink-price {
    width: 40px;
    font-weight: bold;
  }
  &:last-child {
    border-bottom: 1px solid @gray-light;
  }
}

// DRINK PAGE

#drink-page-container {

  .drink-category-breadcrumb {
    height: 40px;
  }

  .drink-details {
    .drink-detail-label {
      //display: inline-block;
      float: left;
    }
    .drink-detail-value {
      float: right;
    }
  }

  .drink-property-set[contenteditable=true] {
    border-bottom: 1px dashed @gray;
    &:empty:before {
      content: attr(placeholder);
      color: @gray-light; 
    }
  }

  &.not-in-editmode p.multiline br {
    display: block;
    margin-top: 5px;
  }

  &.not-in-editmode .editmode-visible {
    display: none;
  }

  .underlined {
    border-bottom: 1px solid black; 
  }

  .overlined {
    border-top: 1px solid black;
  }

}

.not-in-editmode .hidden-normally {
  display: none;
}

// Fix for Select2

.select2-search__field {
  border: medium none !important;
  outline: 0px none !important;
  background: none !important;
  padding: 0 !important;
}
